<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Product Id="*" Name="Pollen DEK" Language="1033" Version="1.0.0.0" Manufacturer="AECInfraconnect" UpgradeCode="78b871c8-2e06-444a-8f55-1f6cc97b3708">
        <Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />

        <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
        <MediaTemplate EmbedCab="yes" />

        <Directory Id="TARGETDIR" Name="SourceDir">
            <Directory Id="ProgramFilesFolder">
                <Directory Id="INSTALLFOLDER" Name="PollenDEK">
                    <Component Id="cmp_dekd_exe" Guid="*">
                        <File Id="file_dekd_exe" Source="..\..\target\release\dekd.exe" KeyPath="yes" />
                        <!-- Start DEK as a Windows Service -->
                        <ServiceInstall Id="ServiceInstaller"
                                        Type="ownProcess"
                                        Name="PollenDEK"
                                        DisplayName="Pollen DEK Service"
                                        Description="Local Policy Enforcement Node for Pollen Cloud"
                                        Start="auto"
                                        Account="LocalSystem"
                                        ErrorControl="normal" />
                        <ServiceControl Id="StartService" Stop="both" Remove="uninstall" Name="PollenDEK" Wait="yes" />
                    </Component>
                    <Component Id="cmp_dekctl_exe" Guid="*">
                        <File Id="file_dekctl_exe" Source="..\..\target\release\dekctl.exe" KeyPath="yes" />
                    </Component>
                </Directory>
            </Directory>
        </Directory>

        <Feature Id="ProductFeature" Title="PollenDEK" Level="1">
            <ComponentRef Id="cmp_dekd_exe" />
            <ComponentRef Id="cmp_dekctl_exe" />
        </Feature>
    </Product>
</Wix>
